html {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

body {
  background: #FFFFFF;
  padding: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: #4aa0ef;
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 30px;
}
h1 a {
  color: #efefef;
  border-bottom: 2px solid #efefef;
  text-decoration: none;
  padding-bottom: 3px;
}
h1 a:hover {
  color: yellowgreen;
  border-color: yellowgreen;
}
h3,h4 {
  color: #4aa0ef;
}

button {
  padding: 12px 30px;
  box-shadow: none;
  border: none;
  color: #ef800d;
  cursor: pointer;
  background-color: rgba(205, 205, 205, 0.88);
}
button:hover {
  background-color: rgba(0, 0, 0, 0.47);
  color: yellowgreen;
}
button:focus {
  outline: none;
}

#list {
  width: 0;
  position: relative;
  display: block;
  margin-top: 50px;
}
#right-bar {
  margin-right: 0px;
  text-align: right;
  color:rgba(76, 76, 76, 0.72);
  width: 100px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  min-height: 75%;
}
div.chart-icon {
  margin-top:10px;
  color: #cacaca;
}
div.chart-icon:hover {
  color: yellowgreen;
}

.tile {
  display: block;
  position: absolute;
  background-color: rgba(244, 244, 244, 0.06);
  color: #cacaca;
  padding: 5px;
  font-weight: bold;
}

.layout {
  color: rgba(76, 76, 76, 0.72);
  margin-bottom: 15px;
}
.layout label {
  margin-right: 15px;
  cursor: pointer;
}
.layout label:hover {
  color: yellowgreen;
}
.layout input {
  margin-right: 3px;
}

/*******************************/
text {
  font: 12px sans-serif;
}
svg {
  display: block;
}
#divLineChart svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 75%;
}
#divInnerClassMetricsChart svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 75%;
}
#divInnerClassMetricsBarChart svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 75%;
}
.dashed {
  stroke-dasharray: 5,5;
}

#memberDoughnut,#membershipsDoughnut {
  height: 350px !important;
  width: 350px !important;
}
#membershipPie {
  height: 350px !important;
  width: 100%;
}

.nvd3.nv-pie.nv-chart-donut2 .nv-pie-title {
  fill: rgba(70, 107, 168, 0.78);
  stroke-width:0;
}
.nvd3.nv-pie.nv-chart-donut1 .nv-pie-title {
  opacity: 0.4;
  fill: rgba(224, 116, 76, 0.91);
  stroke-width: 0;
}
.nv-axis .tick line {
  fill: #000;
  stroke: #000;
  stroke-width:1;
  stroke-opacity: .8
}
.nv-x .nv-axis .tick path {
  fill: #000;
  stroke: #000;
  stroke-width:1;
}
.nvd3 text {
  fill: rgba(76, 76, 76, 0.72);
  font: normal 13px Arial;
  stroke-width:0;
  shape-rendering: crispEdges;
}
.nvd3 .nv-axis text {
  fill: rgba(76, 76, 76, 0.72);;
  stroke-width:0;
  shape-rendering: crispEdges;
}
.nvd3.nv-pie .nv-label{
  fill:rgba(76, 76, 76, 0.72);
}
#divInnerClassMetricsBarChart > svg > g > g > g.nv-controlsWrap.nvd3-svg {
  transform: translate(-70px, -30px) !important;
}
#memberDoughnut > g > g > g.nv-pieWrap.nvd3-svg > g > g > g.nv-pie text{
  font-size: 24pt !important;
}
#memberDoughnut > g > g > g.nv-pieWrap.nvd3-svg > g > g > g.nv-pieLabels .nv-label text{
  fill: rgba(76, 76, 76, 0.72) !important;
}
#memberDoughnut > g > g > g.nv-legendWrap.nvd3-svg > g > g > g.nv-series text{
  font: normal 12px Arial;
}
.nvd3 .nv-legend text {
  fill: rgba(76, 76, 76, 0.72);
  stroke-width:0;
  shape-rendering: crispEdges;
}

.memberSummaryLabel {
  color: #3a3a4d;
}


.fakeChartDiv{
  font-weight:normal;
  color:rgba(76, 76, 76, 0.72);
}
.fakeChartTd{
  border-bottom:1pt solid #e8e8e8;
}
